html {
  font-size: 62.5%;
}

body {
	margin: 0;
	font-family: 'OpenSans', 'sans-serif';
	color: #000000;
	background: #ffffff;
	overflow: hidden;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}